<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TravelLab</title>
</head>

<body>
<img src="static/images/attractions.jpg" alt=""
     style="width: 100%; position: absolute; top: 0; left: 0; background-size: cover; background-attachment: fixed;"/>
<a href="{{ url_for('index') }}" title=""
   style="position: absolute; left: 90.04%; top: 10%; width: 7.67%; height: 8%; z-index: 2;"></a>

<script src="static/js/jquery.min.js"></script>
<script src="static/js/browser.min.js"></script>
<script src="static/js/breakpoints.min.js"></script>
<script src="static/js/util.js"></script>
<script src="static/js/main.js"></script>

</body>
</html>