<!DOCTYPE html>
<html lang="en">
<head>
    <title>TravelLab</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145579470-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-145579470-5');
    </script>
</head>

<body>

<!-- Gallery Grid -->
<div class="container">
    <section class="tiles" id="gallery"></section>
</div>

<script type="text/javascript">
    var photos = {{ photos | tojson }};
</script>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/browser.min.js"></script>
<script src="static/js/breakpoints.min.js"></script>
<script src="static/js/util.js"></script>
<script src="static/js/main.js"></script>
<script src="static/js/gallery.js"></script>

</body>
</html>