<!DOCTYPE html>
<html lang="en">
<head>
    <title>TravelLab</title>
    <link rel="icon" type="image/png" href="static/images/favicon.png">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145579470-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-145579470-5');
    </script>
</head>

<body>
<!-- button switch between accessbility mode-->
<!-- normal mode-->

<script>
    function normalmode() {
        document.body.style.fontFamily = " Source Sans Pro, Helvetica, sans-serif";
        document.body.style.backgroundColor = "white";
    }
</script>
<!-- Dyslexic mode-->

<script>
    function dyslexicmode() {
        document.body.style.fontFamily = "OpenDyslexic3Regular";
        document.body.style.backgroundColor = "transparent";
    }
</script>
<!-- colorbind mode-->

<script>
    function colorbindmode() {
        document.body.style.fontFamily = " Source Sans Pro, Helvetica, sans-serif";
        document.body.style.backgroundColor = "#C5E2A5";
        document.body.style.color = "black";
    }
</script>


<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="{{ url_for('index') }}" class="logo">
                <span class="title">TravelLab</span>
            </a>

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li>
                <button onclick="normalmode()" style="font-size: 0.6em;color: white;">Normal mode</button>
            </li>
            <li>
                <button onclick="dyslexicmode()" style="font-size: 0.6em;color: white;">Dyslexic mode</button>
            </li>
            <li>
                <button onclick="colorbindmode()" style="font-size: 0.6em;color: white;">Colorbind mode</button>
            </li>
        </ul>
    </nav>

    <!-- Hotels -->
    <div>
        <div class="inner">
            <h1>Hotels from {{ city }}</h1>
            <div id="hotels"></div>
            <ul class="actions">
                <li><a href="javascript:history.back()" class="button">Back</a></li>
            </ul>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer" style="padding-top: 1%;padding-bottom: 1%;">
        <div class="inner">
            <ul class="copyright">
                <li>&copy; TravelLab. All rights reserved</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </footer>
</div>

<script type="text/javascript">
    var hotels = {{ hotels | tojson }};
    var hotelPageInfo = {{ hotelPageInfo | tojson }};
</script>
<script src="static/js/hotels.js"></script>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/browser.min.js"></script>
<script src="static/js/breakpoints.min.js"></script>
<script src="static/js/util.js"></script>
<script src="static/js/main.js"></script>

</body>
</html>